bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Oo]ut/
[Ll]og/
[Ll]ogs/

.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

.vscode/


.idea/
*.sln.iml


*.mdf
*.ldf
*.ndf

appsettings.Development.json
secrets.json

.DS_Store
Thumbs.db
desktop.ini

*.nupkg
*.snupkg
packages/
!packages/build/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml